@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="float-left">
        Фото: 
    </div>
    <div class="float-right">
        <form class="form-inline" enctype="multipart/form-data">
            <input class="form-control" type="file" required/>
            <button type="submit" class="btn btn-success">Додати</button>
        </form>
    </div>
    <div class="row">
        
    </div>
</div>